html {
  background-color: #ffffff;
  background-image: url("topography-compressed.svg");
}

body {
  margin: 0 auto;
  font-family: "Segoe UI", sans-serif;
  color: #575757;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.77);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1800px;
}

nav {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

nav a {
  text-decoration: none;
  color: #cccccc; 
  font-weight: bold;
  transition: 0.1s ease;
}

nav a:hover, nav a:focus {
  color: #eeeeee;
  text-decoration: underline;
}

.hero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.6)),
    url("mountains.webp");
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffc5cd;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin: 0;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.8)
}

.content {
  padding: 140px 20px;
  max-width: 900px;
  margin: 0 auto;
}

.content h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.content p {
  font-size: 16px;
  line-height: 1.6;
}

.form-section {
  width: 65%;
  background-color: #eee;
  padding: 20px 20px 40px;
  margin: 0 auto 100px;
}

.form-section h2 {
  color: #4d4d4d;
  text-align: center;
  font-size: 28px;
  margin-bottom: 40px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  font-family: inherit;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #4d4d4d;
}
.submit-btn {
  background-color: #0077cc;
  color: white;
  width: 100%;
  padding: 14px 28px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #245a8f;
}

.submit-btn:focus {
  outline: 2px solid #245a8f;
  outline-offset: 2px;
}

textarea:focus {
  outline: 2px solid blue;
}

.footer {
  margin-top: auto;
  background-color: #333;
  color: #cccccc;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.phone-icon {
  width: 18px;
  height: 18px;
  fill: #eeeeee;      
  vertical-align: -3px;
  font-size: 24px;
  margin-right: 10px;
}
